:root{
  --primary: #4287EE;
  --primary-variant: #2452dc;
  --primary--alpha: rgba(66, 135, 238, .25);
  --primary-variant--alpha: rgba(26, 115, 232, .4);
  --secondary: #fff;
  --secondary-variant: #e9f1f7;
  --text: #7F868B;
  --text-variant: #595959;
  --text-secondary: #4287EE;

  --body-bgcolor: #f3f5f2;
  --primary-color: #fff;
  --secondary-color: #fff;
  --secondary-color-alpha: rgba(65, 105, 225, .25);
  --primary-text: #333;
  --secondary-text: royalblue;
  --shadow-color: #696969;
  --border-color: #E1E1E1;
  --border-color--darker: #a5a5a5;
  --border: 2px solid var(--border-color);
  --border-bottom: 3px solid var(--border-color);
  --border-secondary: 2px solid var(--primary-text);
  --box-shadow: 1px 0 7px -4px var(--shadow-color);

  --padding: .75rem;
  --border-radius: 7px;
  --border-rounded: 100px;

  /*  Social icons colors  */
  --facebook: #3b5998;
  --twitter: #1da1f2;
  --instagram: #c32aa3;
  --linkedin: #007bb5;
  --whatsapp: #25d366;
  --github: #333;
  --email: #D44638;

  /* media steps screen */
  --smartphones: 576px;
  --tablets: 768px;
  --tablets-larges: 992px;
  --desktop: 1024px;
}

*, *::before, *::after, html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-color: var(--body-bgcolor);
  font-family: GoogleSans;
  font-size: 16px;
  line-height: 1.5;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
}


/*
**    SOCIAL ICONS STYLES
*/
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.icon {
  display: block;
  width: 1.35rem;
  height: 1.35rem;
  margin: 0 auto;
  fill: currentColor;
}

.link-icon {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.45rem;
  color: var(--primary);
  background-color: var(--primary--alpha);
  border-radius: var(--border-rounded);
  border: 1px solid var(--primary);
  transform: rotate(0deg);
  transition-property: transform, background-color, border-color;
  transition-duration:  .35s;
}
.link-icon:hover{
  color: var(--secondary);
  transform: rotate(360deg);
}

.link-icon:hover.i-twitter{
  background-color: var(--twitter);
  border-color: var(--twitter);
}
.link-icon:hover.i-facebook{
  background-color: var(--facebook);
  border-color: var(--facebook);
}
.link-icon:hover.i-instagram{
  background-color: var(--instagram);
  border-color: var(--instagram);
}
.link-icon:hover.i-linkedin{
  background-color: var(--linkedin);
  border-color: var(--linkedin);
}
.link-icon:hover.i-whatsapp{
  background-color: var(--whatsapp);
  border-color: var(--whatsapp);
}
.link-icon:hover.i-github{
  background-color: var(--github);
  border-color: var(--github);
}
.link-icon:hover.i-email{
  background-color: var(--email);
  border-color: var(--email);
}


/*
**    LOADER STYLES
*/
.loader{
  position: fixed;
  display: flex;
  top: 0;
  left:0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: out-loader forwards .35s 2.5s;
  transform-origin: top center;
  z-index: 100;
}
.logo{
  height: 15vmax;
  width: 15vmax;
  background-color: #fff;
  border-radius: var(--border-rounded);
  box-shadow: 0 0 10px 1px gainsboro;
  animation: scale-logo alternate forwards .5s 1.8s;
}
.logo--content{ animation: rotate-logo--content alternate forwards 1.70s; }
.logo--h-letter{ animation: translate-logo--h-letter alternate forwards 1.5s ; }
.logo--e-letter{ animation: translate-logo--e-letter alternate forwards 1.5s ; }
.logo, .logo--content, .logo--h-letter, .logo--e-letter{
  transform-origin: center;
}

/*  LOADER KEYFRAMES  */
@keyframes out-loader{
  to{ transform: scale3d(1, 0, 1); }
}
@keyframes scale-logo {
  0%{ transform: scale(1); }
  45%{ transform: scale(1.1); }
  100%{ transform: scale(0); }
}
@keyframes rotate-logo--content {
  70%{ transform: rotate(415deg); }
  85%{ transform: rotate(315deg); }
  100%{ transform: rotate(360deg); }
}
@keyframes translate-logo--h-letter {
  0%{ transform: translate3d(-100%, 0, 0); }
  80%{ transform: translate3d(10px, 0, 0); }
  100%{ transform: translate3d(-10px, 0, 0); }
}
@keyframes translate-logo--e-letter {
  0%{ transform: translate3d(100%, 0, 0); }
  80%{ transform: translate3d(-10px, 0, 0); }
  100%{ transform: translate3d(10px, 0, 0); }
}



/*
**    BUILDING-SITE STYLES
*/
/*.building-site{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  min-width: 470px;
  background: linear-gradient(180deg, #1E71A7, #3397DA);
  color: #fff;
  text-align: center;
}
.building-site--title{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.building-site--subtitle{
  font-size: 1rem;
}
.building-site--progress{
  display: block;
  position: relative;
  width: 55vmin;
  height: .55rem;
  min-width: calc(576px * 0.55);
  background-color: rgba(240, 240, 240, .25);
  border-radius: 5px;
}
.building-site--progress-value{
  width: 10%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: #fff;
}
.building-site--progress-indicator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55vmin;
  min-width: calc(576px * 0.55);
  margin-top: 5px;
  margin-bottom: 5rem;
}
.building-site--subtitle{
  margin-bottom: 1rem;
}
.building-site--social-icons{
  min-width: 45vmin;
}
.building-site--footer{
  position: relative;
  bottom: -5rem;
}
.building-site .link-icon{
  color: #fff;
  border-color: currentColor;
}*/


/*
**    MAIN STYLES
*/
.main{
  padding: var(--padding);
}


/*
**    ASIDE STYLES
*/
.aside{
  width: var(--aside);
  background-color: var(--secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 7.5vmin;
  padding: 1rem;
}

.aside--avatar{
  width: 30vmin;
  height: 30vmin;
  margin: 0 auto;
  border: 6px solid var(--body-bgcolor);
  border-radius: var(--border-rounded);
  transform: translateY(-7.5vmin);
}

.aside--name{
  font-weight: bold;
  font-size: 1.25rem;
}
.aside--name, .aside--especiality{
  text-align: center;
}

.subsection{
  width: 95%;
  margin-top: 2.5rem;
  transform: translateX(-1rem);
}
.subsection__title{
  position: relative;
  width: 100%;
  border-bottom: var(--border-bottom);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: right;
  margin-bottom: 1rem;
}
.subsection__title::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: var(--border-color--darker);
  bottom: -3px;
  right: 0;
}
.subsection__item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem 0;
}
.subsection__item::before{
  content: '';
  position: absolute;
  height: 1.5px;
  width: 65%;
  bottom: 0;
  right: 0;
  background-color: var(--border-color);
}
.subsection__item--text{
  text-align: right;
  margin-right: .75rem;
}

/*
**  UTILS CLASS
*/
.ta-left{
  text-align: left;
}

.fz-20{ font-size: 20px; }

.mr-05{ margin-right: .5rem; }
.mr-1{ margin-right: 1rem; }
.mr-2{ margin-right: 2rem; }
.mr-3{ margin-right: 3rem; }
.mr-4{ margin-right: 4rem; }
.mr-5{ margin-right: 5rem; }

.ml-05{ margin-left: .5rem; }
.ml-1{ margin-left: 1rem; }
.ml-2{ margin-left: 2rem; }
.ml-3{ margin-left: 3rem; }
.ml-4{ margin-left: 4rem; }
.ml-5{ margin-left: 5rem; }

@media (max-width: 576px){
  :root{
    /* width values for aside, mainsection */
    --mainsection: calc(100vw - (var(--padding) * 2px));
    --mainsection-large: 61.804697157vw;
    --aside: calc(100vw - (var(--padding) * 2px));
    --aside-large: 38.195302843vw;
  }
}
